<!DOCTYPE html>
<html ng-app="app">

<head>
  <link data-require="bootstrap-css@*" data-semver="3.2.0" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
</head>

<body>
<div ng-controller="filterCtrl">
  <h3>Simple Smart Table not using st-safe-src, sort, filter work...</h3>
  <form>
    <label for="predicate">selected predicate:</label>
    <select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates"></select>
  </form>
  <table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="firstName">first name</th>
      <th st-sort="lastName">last name</th>
      <th st-sort="birthDate">birth date</th>
      <th st-sort="balance">balance</th>
      <th>email</th>
    </tr>
    <tr>
      <th>
        <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search" />
      </th>
      <th colspan="3">
        <input st-search="" placeholder="global search" class="input-sm form-control" type="search" />
      </th>
      <th>
        <input st-search="selectedPredicate" placeholder="bound predicate" class="input-sm form-control" type="search" />
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rowCollection">
      <td>{{row.firstName | uppercase}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.birthDate | date}}</td>
      <td>{{row.balance | currency}}</td>
      <td>
        <a ng-href="mailto:{{row.email}}">email</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div ng-controller="filterBrokenCtrl">
  <h3>Simple Smart Table using st-safe-src, sort, filter don't work...</h3>
  <form>
    <label for="predicate">selected predicate:</label>
    <select class="form-control" id="predicate" ng-model="selectedPredicate" ng-options="predicate for predicate in predicates"></select>
  </form>
  <table st-table="rowCollectionDisplay" st-safe-src="rowCollection" class="table table-striped">
    <thead>
    <tr>
      <th st-sort="firstName">first name</th>
      <th st-sort="lastName">last name</th>
      <th st-sort="birthDate">birth date</th>
      <th st-sort="balance">balance</th>
      <th>email</th>
    </tr>
    <tr>
      <th>
        <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search" />
      </th>
      <th colspan="3">
        <input st-search="" placeholder="global search" class="input-sm form-control" type="search" />
      </th>
      <th>
        <input st-search="selectedPredicate" placeholder="bound predicate" class="input-sm form-control" type="search" />
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in rowCollectionDisplay">
      <td>{{row.firstName | uppercase}}</td>
      <td>{{row.lastName}}</td>
      <td>{{row.birthDate | date}}</td>
      <td>{{row.balance | currency}}</td>
      <td>
        <a ng-href="mailto:{{row.email}}">email</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script data-require="angular.js@1.2.25" data-semver="1.2.25" src="https://code.angularjs.org/1.2.25/angular.js"></script>
<script data-require="angular-bootstrap@*" data-semver="0.11.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.js"></script>
<script src="scripts/graph-app-directive-2.js"></script>
</body>

</html>
